 body {
  font-family:'Roboto';
}
 .navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: #525560;
  font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

.donate-btn {
  border-radius: 6px;
  font-weight: 500;
}

/* Mobile spacing fix */
@media (max-width: 991px) {
  .donate-btn {
    margin-top: 10px;
  }
}
 .hero-section {
  min-height: 100vh;
  background:url("assets/homepage1.webp") center/cover no-repeat;
  color: #fff;
  padding: 80px 0;
}
 
.hero-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

 
.play-video {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.play-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 
.hero-stats {
  border-top: 1px solid rgba(255,255,255,0.4);
  padding-top: 15px;
  font-size: 0.9rem;
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 992px) {
  .hero-title {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 1.9rem;
  }

  .hero-stats {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
/** start KNOW ABOUT US**/

.about-section {
  padding-top: 96px;
   padding-bottom: 64px;
}

/* Label */
.section-label {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000000;
  display: inline-block;
  margin-bottom: 32px;
  position: relative;
   
}
.section-title {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 32px;
}

/* Text */
.section-text {
  color: #525560;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 15px;
}
.learn{
  margin-top:48px;
  color: #ffffff;
  background-color: #70C174;
  
}
/* Image */
.image-wrapper {
  position: relative;
  border-radius: 18px;
 
}

/* Play Button */
.play-btn {
  position: absolute;
  top: 46%;
  left: 44%;
  border-radius: 50%;
  }
/* Responsive */
@media (max-width: 986px) {
  .section-title {
    font-size: 30px;
  }
  
}
/*end KNOW ABOUT US*/
