@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@theme{
--font-family: "Lato", sans-serif;
--color-green1: #70C174;
--color-bg-green: #BEF3C0;
--color-header-text: #0B0706;
--color-secondary-text:#525560;
--color-primary-black:#1D2130;   
--color-green-tertiary:#EFF7F2;
 
 


}
@layer base{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    img{
        @apply max-w-full;
    }
}